/* credit to https://codepen.io/ClaireLarsen/pen/XmVyVX for this code. (slightly mofified) */
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display);

.container {
  font-family: Arial;
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.welcome {
  display: block;
  font: 10.5em "Red Hat Display";
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.textCopy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.textCopy:nth-child(1) {
  stroke: #533747;
  animation-delay: -1;
}

.textCopy:nth-child(2) {
  stroke: #5f506b;
  animation-delay: -2s;
}

.textCopy:nth-child(3) {
  stroke: #6a6b83;
  animation-delay: -3s;
}

.textCopy:nth-child(4) {
  stroke: #76949f;
  animation-delay: -4s;
}

.textCopy:nth-child(5) {
  stroke: #86bbbd;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
