@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://rsms.me/inter/inter.css');
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  overflow-x: hidden;
  background-image: url('../unsplash/pawel-czerwinski-H9Kp4LIGqqo-unsplash.jpg');
  background-size: cover;
  background-color: #14151a;

}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.35;
  color: #fff;
}

h1 {
  font-family: Inter;
  font-weight: 800 !important;
}

h5,
.h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

::selection {
  color: #fff;
}

::-moz-selection {
  color: #fff;
}

::selection {
  background-color: #000;
}

::-moz-selection {
  background-color: #000;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.over-hide {
  overflow: hidden;
}

.primary-color {
  color: #cba6f7;
}

.padding-top-bottom-big {
  padding-top: 140px;
  padding-bottom: 140px;
}

.padding-top-big {
  padding-top: 140px;
}

.padding-bottom-big {
  padding-bottom: 140px;
}

.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-top {
  padding-top: 100px;
}

.padding-bottom {
  padding-bottom: 100px;
}

.section-title-wrap p {
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  padding: 0;
}

.section-title-wrap h1 {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1;
}

.background-dark {
  background-color: #11111b;
}

/* #Cursor
================================================== */

* {
  cursor: none;
}

.cursor {
  --size: 8px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor.cursor-shadow {
  background-color: transparent;
  border: 1px solid #fff;
  --size: 40px;
  transition: top .2s, left .2s,
    width .2s, height .2s,
    background-color .2s, border-color 0.2s;
  transition-timing-function: ease-out;
}

.cursor.cursor-dot {
  background: #7f6ed2;
  transition: width .2s, height .2s;
}

.cursor-shadow.active {
  --size: 80px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: saturate(2);
}

.cursor-dot.active {
  --size: 0;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}


/* #Blog post
================================================== */

.blog-post-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.blog-post-box h5 {
  position: relative;
  text-transform: none;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 3;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.blog-post-box p {
  position: relative;
  color: #cdd6f4;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  mix-blend-mode: luminosity;
  padding: 4px 12px;
  background-color: rgba(127, 110, 210, .8);
  border-radius: 2px;
  z-index: 4;
}

/* #Blog cursor images
================================================== */

.cursor.cursor-dot.active-blog-post-1,
.cursor.cursor-dot.active-blog-post-2,
.cursor.cursor-dot.active-blog-post-3,
.cursor.cursor-dot.active-blog-post-4,
.cursor.cursor-dot.active-blog-post-5,
.cursor.cursor-dot.active-blog-post-6,
.cursor.cursor-dot.active-blog-post-7 {
  opacity: 0;
}

.cursor-shadow.active-blog-post-1,
.cursor-shadow.active-blog-post-2,
.cursor-shadow.active-blog-post-3,
.cursor-shadow.active-blog-post-4,
.cursor-shadow.active-blog-post-5,
.cursor-shadow.active-blog-post-6,
.cursor-shadow.active-blog-post-7 {
  --size: 160px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
}

.cursor-shadow.active-blog-post-1 {
  background-image: url('https://images.unsplash.com/photo-1529346378633-c2b2a059c367');
}

.cursor-shadow.active-blog-post-2 {
  background-image: url('https://images.unsplash.com/photo-1615678857339-4e7e51ce22db');
}

.cursor-shadow.active-blog-post-3 {
  background-image: url('http://ivang-design.com/alke/img/blog/3.jpg');
}

.cursor-shadow.active-blog-post-4 {
  background-image: url('http://ivang-design.com/alke/img/blog/4.jpg');
}

/* .cursor-shadow.active-blog-post-5 {
	  background-image: url('http://ivang-design.com/alke/img/blog/5.jpg');
}
.cursor-shadow.active-blog-post-6 {
	  background-image: url('http://ivang-design.com/alke/img/blog/6.jpg');
}
.cursor-shadow.active-blog-post-7 {
	  background-image: url('http://ivang-design.com/alke/img/blog/7.jpg');
} */

/* #Blog nav link
================================================== */

.blog-nav {
  position: relative;
  cursor: pointer;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #565b70;
  font-size: 4vw;
  opacity: 0.4;
  transition: opacity .2s;
  transition-timing-function: ease-out;
}

.blog-nav:hover {
  opacity: 0.7;
  color: #565b70;
}

/* #Link to page
================================================== */

@media (max-width: 991px) {

  h5,
  .h5 {
    font-size: 1.2rem;
  }

  .section-title-wrap h1 {
    font-size: 4rem;
  }

  .blog-nav {
    font-size: 7vw;
  }
}

/* blog navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  background-image: var(--bg-img);
  background-size: 100%;
  color: #FEFEFE;
  font-family: 'Inter', 'Helvetica';
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  line-height: 1.5;
}

.navbar:hover {
  /* background-image: linear-gradient(
        90deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
	background-size: 40%;
    background-repeat: repeat;
	transition: all 0.7s ease-in-out; */
  backdrop-filter: blur(10px) opacity(0.8);
  transition: all 0.7s ease-in-out;
}

.nav-links a {
  color: #FEFEFE;
  font-weight: 400;
  text-decoration: underline;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 999;
}

.menu li:hover {
  background-color: rgba(255, 226, 221, 0.5);
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.menu li {
  padding: 5px 14px;

}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgba(23, 20, 33, 0.92);
    right: 0;
    left: 0;
    margin-top: 1rem;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    backdrop-filter: blur(10px) opacity(0.8);
  }
}

/* background shapes and side text */

.section-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.shadow-title {
  position: fixed;
  top: 5%;
  margin-top: 30px;
  left: 20px;
  width: 100%;
  height: 300%;
  text-align: left;
  font-family: 'Inter', sans-serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: 18vw;
  line-height: 1;
  color: rgba(200, 200, 200, 0.5);
  background: linear-gradient(90deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  z-index: 1;
}

/* extra media queries */

@media (max-width: 768px) {
  * {
    cursor: auto;
  }

  .selection-paralax {
    background-size: 100%;
  }

  .shadow-title {
    display: none;
  }

}

/* bottom cards */

:root {
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.card-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

@media (min-width: 600px) {
  .card-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .card-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(700ms * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(700ms * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1662913497683-0934ae1958b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1662286613246-fbc42810c5c6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1663168679840-0a2ed088cbcd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1660735839772-fe0dc14012a6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 700ms var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
}

#smaller {
  font-size: 1.15rem;
}

.copy {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms var(--e), opacity 700ms var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(700ms / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}